.empdetails
{
    width: 400px;
    margin: 100px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 2px 2px 40px 4px rgb(154, 207, 101);
    border-radius: 3px;
}
.empdetails h1,.empdetails p
{
    line-height: 45px;
}

.empdetails p:last-child
{
    font-weight: bold;
}