nav
{
    background-color: rgb(179, 10, 103);
    box-shadow: 2px 0px 30px 2px blue;
    padding: 15px;
}

nav a
{
    margin-left: 150px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}